<!DOCTYPE html>
    <html>
        <body>
            <header>
                <div class="container">
                    <h1></h1>
                    <strong>
                    <nav>
                        <ul>
                            <li><a hreft="{{''uri_home'}}">Home</a></li>
                                <a hreft="{{''uri_about'}}">About</a></li>
                                
                            </ul>
                        </nav></strong>
                </div>
            </header>
        </body>
    </html>
